@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    min-width: min-content;
}

a {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    text-decoration: underline;
}



header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 3rem;
    font-size:  clamp(1vw, 6rem, 9vw);
    font-variant: small-caps;
}

header > p {
    font-family: var(--fonte1);
    font-size: clamp(1vw, 1rem, 5vw);
    padding-bottom: 15px;
}
header > p > strong > a {
    font-size: clamp(1vw, 1rem, 5vw);
}



main {
    font-family: var(--fonte3);    
    line-height: 2em;
}

section#seca {
    background: rgba(0, 0, 0, 0) url(img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
section#secb {
    background: rgba(0, 0, 0, 0) url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

article {
    overflow: hidden;
}
article.blocob {
    background-color: white;
    padding: 1rem 1rem 2rem 4vw;
}

article.blocot {
    width: fit-content;
    margin: 2rem 1rem 2rem 3.5vw;
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;    
    text-shadow: 1px 1px 0px black;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.5)
}



footer {
    text-align: center;
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    padding: 10px;
}