@charset "UTF-8";

:root {
    --preto: #000000;
    --branco: #ffffff;
    --trans:#00000000;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--preto);    
    color: var(--branco);
}

h1 {
    width: 100%;
    font-size: clamp(1rem,7vh,7vw);
    text-align: center;
    margin: 2svh 0;
    word-wrap: normal;
}

main {
    width: 100%;
    height: 90svh;
}

h2 {
    text-align: center;
}

.button {
    position: absolute;
    aspect-ratio: 1;
    background-color: var(--preto);
    border-radius: 10%;
}

.icon {
    width: clamp(1rem,6vw,3.5vh);
}

#back {
    left: 10px;
    top: 10px;
}

#info {
    top: 10px;
    right: 10px;
}


#warn {
    display: none;
    position: absolute;
    right: 50px;
    top: 5px;

    width: 300px;
    padding: 10px;

    border: 0.2rem solid var(--branco);
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    text-align: justify;
}

#close {
    display: block;
    position: static;
    float: right;
    margin: -5px -5px 0 10px;
}

#iclose { /* i = icone do close */
    width: 20px;
    background-color: var(--branco);
}

input { /* caixa onde escreve */
    margin: 5px 0;
    width: 300px;
    height: fit-content;
}

#dark {
    left: 10px;
    bottom: 10px;
}

#maxi {
    bottom: 10px;
    right: 10px;
    opacity: 50%;
}

#menu {
    position: absolute;
    right: 20px;
    top: 60px;
    border: 2px 2px var(--branco);
}

footer {
    position: absolute;
    bottom: 2px;
    left: 2px;
}