@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    height: 100svh;
    cursor: default;
    background-color: rgb(0, 0, 0);
}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
}

h2 {
    text-align: center;
}

.button {
    position: absolute;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;
}


.icon {
    width: 30px;
    filter: invert(100%); /*preto fica branco*/
}

#back {
    left: 10px;
    top: 10px;
}

#info {
    top: 10px;
    right: 10px;
}


#warn {
    display: none;
    position: absolute;
    right: 50px;
    top: 5px;

    width: 300px;
    padding: 10px;

    border: 0.2rem solid white;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    text-align: justify;
}

#close {
    display: block;
    position: static;
    float: right;
    margin: -5px -5px 0 10px;
}

#iclose { /* i = icone do close */
    width: 20px;
    background-color: rgb(192, 255, 255);
}

input { /* caixa onde escreve */
    margin: 5px 0;
    width: 300px;
    height: fit-content;
}


#maxi {
    bottom: 10px;
    right: 10px;
    opacity: 50%;
}

#menu {
    position: absolute;
    right: 20px;
    top: 60px;
    border: 2px 2px white;
}

footer {
    position: absolute;
    bottom: 2px;
    left: 2px;
}